/* Color styles */
$lightblue: rgb(2, 130, 249);
$black: rgb(28, 28, 28);
$footer2: rgb(48, 48, 48);
$icons: rgb(121, 121, 121);
$main_font: "Segoe UI", "Open Sans", Helvetica, sans-serif;
$lighter_font: "Segoe UI Light", "Open Sans", Helvetica, sans-serif;
